<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        فروشگاه آنلاین
        {% endblock %}
    </title>

    <!--This place is for CSS codes if the project should have styles.-->

    {% block extra_css %}

        <!--This place is for extra CSS codes for each template if it should have its own styles.-->

    {% endblock %}

</head>
<body>
    
    <!--This place is for navbar.-->

    {% block content %}
    {% endblock %}

    <!--This place is for footer if the project should have general footer.-->

</body>
</html>
