{% extends 'master.html' %}

<!--***-->

{% block title %}
    {{ block.super }} - صفحه اصلی
{% endblock %}

<!--***-->

{% block content %}

    <!--This place is for profile navbar - that belongs to 'user' app.-->

    <center>
        <h1>{{ title }}</h1>
    </center>

    <!--This place is for search bar.-->

    <!--This place is for showing 20 newest products profiles - that belongs to 'store' app.-->

    <!--This place is for showing and linking the categories - that is related to 'store' app.-->

{% endblock %}
